<div class="row">

  <div class="col-12 text-danger" *ngIf="hasFormError">
    <p>{{formErrorMessage}}</p>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

    <form (ngSubmit)="changePassword(cpForm)" #cpForm="ngForm">
      <div class="form-group">
        <label>Existing Password: </label>
        <input type="password" id="existing-password" class="form-control" name="existingPassword" ngModel required #existingPassword="ngModel">
      </div>
      <div class="form-group">
        <label>New Password: </label>
        <input type="password" id="new-password" class="form-control" name="newPassword" ngModel required #newPassword="ngModel">
      </div>
      <div class="form-group">
        <label>Confirm Password: </label>
        <input type="password" id="confirm-password" class="form-control" name="confirmPassword" ngModel required #confirmPassword="ngModel">
      </div>
      <button type="button" id="cancel" class="btn btn-default btn-sm btn-secondary" (click)="goBack()">Cancel</button>
      <button type="submit" id="submit" class="btn btn-default btn-sm btn-primary" [disabled]="!cpForm.form.valid">Submit</button>
    </form>

  </div>

</div>
