<div class="container">
  <div class="row">

    <div class="hidden-xs-down hidden-sm-down col-md-3 col-lg-3"></div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

      <div class="row">
        <div class="col-12 text-xs-center text-sm-center text-md-center text-lg-center">
          <h2>Login</h2>
        </div>
      </div>

      <div class="row">

        <div class="col-12 text-danger" *ngIf="hasFormError">
          <p>{{formErrorMessage}}</p>
        </div>

        <div class="col-12 center">
          <form (ngSubmit)="login()" #loginForm="ngForm">
            <div class="form-group">
              <label>Email: </label>
              <input type="text" id="email" class="form-control" [(ngModel)]="loginDetail.email" name="email" placeholder="type your email here" required>
            </div>
            <div class="form-group">
              <label>Password: </label>
              <input type="password" id="password" class="form-control" [(ngModel)]="loginDetail.password" name="password" placeholder="enter password here" required>
            </div>
            <button type="submit" id="submit" class="btn btn-default btn-block btn-primary" [disabled]="!loginForm.form.valid">Submit</button>
          </form>
        </div>
      </div>


    </div>

    <div class="hidden-xs-down hidden-sm-down col-md-3 col-lg-3"></div>


  </div>
</div>