<div class="row" *ngIf="profile">

  <div class="col-12 text-danger" *ngIf="hasFormError">
    <p>{{formErrorMessage}}</p>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

    <form (ngSubmit)="edit(editForm)" #editForm="ngForm">
      <div class="form-group">
        <label>First Name: </label>
        <input type="text" id="first-name" class="form-control" [(ngModel)]="profile.firstName" name="firstName" required>
      </div>
      <div class="form-group">
        <label>Last Name:</label>
        <input type="text" id="last-name" class="form-control" [(ngModel)]="profile.lastName" name="lastName" required>
      </div>
      <div class="form-group">
        <label>Website:</label>
        <input type="text" id="website" class="form-control" [(ngModel)]="profile.website" name="website" required>
      </div>
      <button type="button" id="cancel" class="btn btn-default btn-sm btn-secondary" (click)="goBack()">Cancel</button>
      <button type="submit" id="submit" class="btn btn-default btn-sm btn-primary" [disabled]="!editForm.form.valid">Submit</button>
    </form>

  </div>
</div>