<div class="row" *ngIf="profile">
  <div class="col-12">
    <h3>Profile Info</h3>
    <a routerLink="/edit">Edit</a>
  </div>
  <div class="col-12">
    {{profile.website}}
  </div>
  <div class="col-12">
    {{profile.phone}}
  </div>
  <div class="col-12">
    {{profile.address.city}} - {{profile.address.state}}
  </div>
</div>