<div class="container" id="home-container-head">

  <div *ngIf="profile">
    <div class="row">
      <div class="col-12 clearfix">
        <button type="button" class="btn btn-default btn-sm btn-secondary float-xs-right" (click)="logout()">LOGOUT</button>
      </div>
    </div>

    <div class="row">
      <div class="col-12 text-xs-center">
        <img src="../assets/images/profile_image.jpg" class="">
      </div>
    </div>

    <div class="row text-xs-center">

      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="row">
          <div class="col-12">
            {{profile.firstName}} {{profile.lastName}}
          </div>
          <div class="col-12">
            {{profile.phone}}
          </div>
          <div class="col-12">
            {{profile.city}}, {{profile.state}}
          </div>
        </div>

      </div>

      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <span *ngFor="let star of filledStars()" class="fa fa-star"></span>
            <span *ngFor="let star of blankStars()" class="fa fa-star-o"></span>

          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            {{profile.reviewsCount}} Reviews
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <nav class="nav nav-inline">
          <a routerLink="" routerLinkActive="active" class="nav-link">About</a>
          <a routerLink="/settings" routerLinkActive="active" class="nav-link">Settings</a>
        </nav>
      </div>
    </div>
  </div>

</div>

<div class="container">
  &nbsp;
</div>
<!--<p>-->
  <!--home works!-->
<!--</p>-->
<!--<div *ngIf="profile">-->
  <!--<h2>{{profile.email}}</h2>-->
<!--</div>-->
<!--<nav>-->
  <!--<a routerLink="" routerLinkActive="active">About</a>-->
  <!--<a routerLink="/settings" routerLinkActive="active">Settings</a>-->
<!--</nav>-->
<div class="container" id="home-container-body">
  <router-outlet></router-outlet>
</div>